/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 * NOTE: Not suitable for production use, assumes
 * compute limits of only 16GB memory and 1 CPU core.
 */

docker {
  enabled = true
}

k8s {
  cleanup = false
}

process {
  container = wf_container

  withLabel: not_irods {
    beforeScript = "set +u; source activate rnaseq1.5"
    afterScript  = "set +u; source deactivate"
  }

  $irods {
    container = 'quay.io/cellgeni/irods'
    pod = [secret: 'irods-secret', mountPath: '/secret']
    beforeScript = "/iinit.sh"
  }
  $merge_sample_crams {
    beforeScript = "export REF_PATH='http:://www.ebi.ac.uk/ena/cram/md5/%s'"
  }
  $cram2fastq {
    beforeScript = "export REF_PATH='http:://www.ebi.ac.uk/ena/cram/md5/%s'"
  }
  $star {
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
    time = { check_max( 2.h * task.attempt, 'time' ) }
  }
}

params {
  genomes_base = '/mnt/gluster/genomes'
}
