/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 * NOTE: Not suitable for production use, assumes
 * compute limits of only 16GB memory and 1 CPU core.
 */

docker {
  enabled = true
}

k8s {
  cleanup = true
}

process {

  maxForks = 10

  withName: irods {
    container = 'quay.io/cellgeni/irods'
    pod = [secret: 'irods-secret', mountPath: '/secret']
    beforeScript = "/iinit.sh"
    cpus = 4
  }
  withName: get_fastq_files_single {
    container = 'python:3.7'
    cpus = 1
  }
  withName: get_fastq_files {
    container = 'python:3.7'
    cpus = 1
  }
  withName: get_fastq_files {
    container = 'python:3.7'
    cpus = 1
  }
  withName: crams_to_fastq {
    container = 'quay.io/biocontainers/samtools:1.8--4'
    // beforeScript = "export REF_PATH='http:://www.ebi.ac.uk/ena/cram/md5/%s'"
    cpus = 4
  }
  withName: star {
    container = 'quay.io/biocontainers/star:2.5.4a--0'
    cpus = 4
  }
  withName: fastqc {
    container = 'quay.io/biocontainers/fastqc:0.11.7--4'
    cpus = 4
  }
  withName: salmon {
    container = 'quay.io/biocontainers/salmon:0.9.1--1'
    cpus = 4
  }
  withName: featureCounts {
    container = 'quay.io/biocontainers/subread:1.6.2--ha92aebf_0'
    cpus = 4
  }
  withName: merge_featureCounts {
    container = 'python:3.7'
    cpus = 1
  }
  withName: merge_starcounts {
    container = 'python:3.7'
    cpus = 1
  }
  withName: multiqc {
    container = 'https://quay.io/biocontainers/multiqc:1.6--py35h24bf2e0_0'
    cpus = 1
  }
  withName: indexbam {
    container = 'quay.io/biocontainers/samtools:1.8--4'
    cpus = 1
  }
  withName: mapsummary {
    container = 'quay.io/biocontainers/pandas:0.23.4--py36hf8a1672_0'
    cpus = 1
  }
  withName: lostcause {
    container = 'python:3.7'
    cpus = 1
  }

}

params {
  genomes_base = '/mnt/gluster/data/nf-inputs'
}

env {
  // REF_PATH = 'http:://sf2-farm-srv1.internal.sanger.ac.uk::8000/%s'
  // REF_PATH='http://www.ebi.ac.uk/ena/cram/md5/%s'
}

