
executor {
    name = 'lsf'
    // https://www.nextflow.io/docs/latest/executor.html#lsf
    perJobMemLimit = true
}

process {
  queue = 'normal'
  memory = '16 GB'
  maxForks 20
  // this is required by bsub on farm3: selected[mem] should = rusage[mem]
  // http://mediawiki.internal.sanger.ac.uk/wiki/index.php/Submitting_large_memory_jobs
  clusterOptions = { "-R \"select[mem>${task.memory.toMega()}]\"" }
}

params {
  saveReference = true
  max_memory = 32.GB
  max_cpus = 4
  max_time = 240.h
  igenomes_base = '/sw/data/uppnex/igenomes/'
}
