
executor {
    name = 'lsf'
    // to accommodate 384 well plates
    queueSize = 400
    // https://www.nextflow.io/docs/latest/executor.html#lsf
    perJobMemLimit = true
}

process {
  queue = 'normal'
  // this is required by bsub on farm3: selected[mem] should = rusage[mem]
  // http://mediawiki.internal.sanger.ac.uk/wiki/index.php/Submitting_large_memory_jobs
  clusterOptions = { "-R \"select[mem>${task.memory.toMega()}]\"" }

  beforeScript = "set +u; source activate rnaseq1.5"
  afterScript  = "set +u; source deactivate"
}

params {
  saveReference = true
  genomes_base = '/nfs/cellgeni/genomes'
  max_memory = 100.GB
  max_cpus = 32
  max_time = 12.h
}
