
executor {
    name = 'lsf'
    // https://www.nextflow.io/docs/latest/executor.html#lsf
    perJobMemLimit = true
}

process {
  queue = 'normal'
  // this is required by bsub on farm3: selected[mem] should = rusage[mem]
  // http://mediawiki.internal.sanger.ac.uk/wiki/index.php/Submitting_large_memory_jobs
  clusterOptions = { "-R \"select[mem>${task.memory.toMega()}]\"" }
}

params {
  saveReference = true
  star_index = '/nfs/cellgeni/indexes/GRCh38/release-91/75/star/'
  igenomes_base = '/nfs/cellgeni/genomes'
}
