/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'GRCh38' {
      bed12   = "${params.genomes_base}/GRCh38/Homo_sapiens.GRCh38.91.bed"
      dna     = "${params.genomes_base}/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
      cdna    = "${params.genomes_base}/GRCh38/cdna/Homo_sapiens.GRCh38.cdna.all.fa"
      gtf     = "${params.genomes_base}/GRCh38/Homo_sapiens.GRCh38.91.gtf"
      star    = "${params.genomes_base}/indexes/GRCh38/release-91/75/star/"
      salmon  = "${params.genomes_base}/indexes/GRCh38/salmon/"
      salmon_mart = "${params.genomes_base}/indexes/GRCh38/release-84/mart_export_human_v84_clean.txt"
    }
  }
}
