/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

params {
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'GRCh38' {
      bed12   = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
      gtf     = "${params.igenomes_base}/GRCh38/Homo_sapiens.GRCh38.91.gtf"
      star    = "${params.igenomes_base}/indexes/GRCh38/release-91/75/star/"
    }
  }
}
