
docker.enabled = true

process {
  withName: irods               { container = 'quay.io/cellgeni/irods' }
  withName: get_fastq_files_single { container = 'python:3.7' }
  withName: get_fastq_files     { container = 'python:3.7' }
  withName: get_fastq_files     { container = 'python:3.7' }
  withName: crams_to_fastq      { container = 'quay.io/biocontainers/samtools:1.8--4' }
  withName: star                { container = 'quay.io/biocontainers/star:2.5.4a--0' }
  withName: hisat2_align        { container = 'quay.io/biocontainers/hisat2:2.1.0--py27h2d50403_2' }
  withName: hisat2_sort         { container = 'quay.io/biocontainers/samtools:1.8--4' }
  withName: salmon              { container = 'quay.io/biocontainers/salmon:0.13.1--h86b0361_0' }
  withName: fastqc              { container = 'quay.io/biocontainers/fastqc:0.11.7--4' }
  withName: featureCounts       { container = 'quay.io/biocontainers/subread:1.6.2--ha92aebf_0' }
  withLabel: merge_feature      { container = 'python:3.7' }
  withName: multiqc             { container = 'quay.io/biocontainers/multiqc:1.7--py_2' }
  withName: indexbam            { container = 'quay.io/biocontainers/samtools:1.8--4' }
  withName: mapsummary          { container = 'quay.io/biocontainers/pandas:0.23.4--py36hf8a1672_0' }
  withName: lostcause           { container = 'python:3.7' }
  withName: workflow_manifest   { container = 'python:3.7' }
  withName: bracer_assemble     { container = 'teichlab/bracer' }
  withName: bracer_summarise    { container = 'teichlab/bracer' }
  withName: tracer_assemble     { container = 'quay.io/cellgeni/tracer_mod' }
  withName: tracer_summarise    { container = 'quay.io/cellgeni/tracer_mod' }
  withLabel: hisat2_build       { container = 'quay.io/biocontainers/hisat2:2.1.0--py27h2d50403_2' }
}



