/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 * NOTE: Not suitable for production use, assumes
 * compute limits of only 16GB memory and 1 CPU core.
 */


k8s {
  cleanup = true
}

process {

  maxForks = 10
  cache = 'lenient'
  // afterScript = 'sleep 1'

  withName: irods {
    pod = [secret: 'irods-secret', mountPath: '/secret']
    beforeScript = "/iinit.sh"
    cpus = 4
  }
  withName: get_fastq_files_single {
    cpus = 1
  }
  withName: get_fastq_files {
    cpus = 1
  }
  withName: get_fastq_files {
    cpus = 1
  }
  withName: crams_to_fastq {
    // container = 'comics/samtools'
    // beforeScript = "export REF_PATH='http:://www.ebi.ac.uk/ena/cram/md5/%s'"
    cpus = 4
  }
  withName: star {
    cpus = 4
  }
  withName: hisat2_align {
    cpus = 4
  }
  withName: hisat2_sort {
    // container = 'comics/samtools'
    cpus = 4
  }
  withName: salmon {
    cpus = 4
  }
  withName: fastqc {
    cpus = 4
  }
  withName: featureCounts {
    cpus = 4
  }

  withLabel: merge_feature {
    cpus = 4
  }

  withName: multiqc {
    cpus = 1
  }
  withName: indexbam {
    // container = 'comics/samtools'
    cpus = 1
  }
  withName: mapsummary {
    cpus = 1
  }
  withName: lostcause {
    cpus = 1
  }
  withName: workflow_manifest {
    cpus = 1
  }
  withName: bracer_assemble {           // TODO: fine-tune cpu/memory
    cpus = 4
    memory = 8.GB
  }
  withName: bracer_summarise {          // TODO: fine-tune cpu/memory
    cpus = 16
    memory = 40.GB
  }
  withName: tracer_assemble {           // TODO: fine-tune cpu/memory
    cpus = 4
    memory = 8.GB
  }
  withName: tracer_summarise {          // TODO: fine-tune cpu/memory
    cpus = 16
    memory = 40.GB
  }

  withLabel: hisat2_build {
    cpus = 4
    memory = 201.GB
  }
}

params {
  genomes_base = '/mnt/gluster/data/nf-inputs'
}

env {
  // REF_PATH = 'http:://sf2-farm-srv1.internal.sanger.ac.uk::8000/%s'
  // REF_PATH='http://www.ebi.ac.uk/ena/cram/md5/%s'
}

