

// Soloconda: small per-process conda environments.

// List anything that occurs more than once and is shared below:
// If it occurs more than once and we have different versions,
// use v1_tool and v2_tool and document the reason.


v_samtools = '1.9'
v_hisat2   = '2.1.0'

process {

  withName: irods             { conda = 'bioconda::coreutils'                 }
  withName: get_fastq_files_single { conda = 'bioconda::coreutils'            }
  withName: get_fastq_files   { conda = 'bioconda::coreutils'                 }
  withName: crams_to_fastq    { conda = "bioconda::samtools=$v_samtools"      }
  withName: star              { conda = "bioconda::star=2.5.4a bioconda::samtools=$v_samtools" }
  withName: salmon            { conda = 'conda-forge::jemalloc bioconda::salmon=0.13.1'             }
  withName: hisat2_align      { conda = "bioconda::hisat2=$v_hisat2"          }
  withName: hisat2_sort       { conda = "bioconda::hisat2=$v_hisat2 bioconda::samtools=$v_samtools" }
  withName: makeSTARindex     { conda = "bioconda::star=2.5.4a bioconda::samtools=$v_samtools" }
  withName: fastqc            { conda = 'bioconda::fastqc=0.11.7'             }
  withName: makeSalmonIndex   { conda = 'conda-forge::jemalloc bioconda::salmon=0.13.1'             }
  withName: featureCounts     { conda = 'bioconda::subread=1.6.4'             }
  withLabel: merge_feature    { conda = 'defaults::python=3.6'                }
  withName: multiqc           { conda = 'conda-forge::bzip2 bioconda::multiqc=1.7'               }
  withName: indexbam          { conda = "bioconda::samtools=$v_samtools"      }
  withName: mapsummary        { conda = 'defaults::python=3.6 conda-forge::pandas=0.24.2'  }
  withName: lostcause         { conda = 'bioconda::coreutils'                 }
  withName: workflow_manifest { conda = 'bioconda::coreutils'                 }

}


